<div class="first-slide">
  <img class="d-block w-100" src="../../../../assets/img/model-details/308/first_image.jpg" alt="Image">
  <a routerLink="/models">Back</a>
</div>

<div><a class="btn-products" routerLink="/products">See our stock</a></div>

<div class="container">
  <div class="text-1">
    <p>PEUGEOT 308</p>
  </div>
  <div>
    <span>
      <p class="text-2">Compact, feline, sensational. Discover the new face of Peugeot.
        With the Peugeot 308 hatchback, give yourself the freedom to choose between a plug-in hybrid, petrol or diesel
        engine.</p>
    </span>
  </div>
</div>
<div class="row">
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/308/1_308.jpg" alt="Image">
  </div>
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/308/2_308.jpg" alt="Image">
  </div>
</div>
<div class="rowa">
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/308/4_308.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/308/5_308.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/308/6_308.jpg" alt="Image">
  </div>
</div>