<nav class="navbar navbar-expand-sm navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="./assets/img/peugeot-logo-alt.jpg"
        style="width:3em; height:3em;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="https://en.wikipedia.org/wiki/Peugeot"
            target="_blank"><u>History</u></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: white;" routerLink="models"><u>Models</u></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="products"><u>Our stock</u></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="admin"><u>Admin</u></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>