.text-1 {
    color: rgb(41, 41, 211);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.d-block {
    display: block;
}

.text-2 {
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    padding: 1px;
}

.columna {
    float: left;
    width: 33.33%;
}

.first-slide {
    image-resolution: 100%;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
}

.first-slide a {
    position: absolute;
    top: 4em;
    left: 4em;
    background-color: #8F0005;
    border-radius: 1.5em;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.5em;
}

.btn-products {
    position: absolute;
    top: 15em;
    left: 4em;
    background-color: #8F0005;
    border-radius: 1.5em;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.5em;
}