<div class="first-slide">
  <img class="d-block w-100" src="../../../../assets/img/model-details/408/first-image.jpg" alt="Image">
  <div><a routerLink="/models">Back</a></div>
</div>

<div><a class="btn-products" routerLink="/products">See our stock</a></div>

<div class="container">
  <div class="text-1">
    <p>PEUGEOT 408</p>
  </div>
  <div>
    <span>
      <p class="text-2">Experience the magnetic New 408. Stunning design, uncompromising quality and a dynamic drive.
        Available to test drive in petrol or plug-in hybrid.</p>
    </span>
  </div>
</div>
<div class="row">
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/408/1_408.jpg" alt="Image">
  </div>
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/408/2_408.jpg" alt="Image">
  </div>
</div>
<div class="rowa">
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/408/3_408.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/408/4_408.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/408/5_408.jpg" alt="Image">
  </div>
</div>