<div>
  <img class="d-block w-100" src="../../../../assets/img/model-details/e208/1_e208.jpg" alt="Image">
  <span>
  <p class="text">The new PEUGEOT 208 has been reinvented: a new, more assertive face, the latest Full LED Technology. 
    Available as standard on the GT version light signature at the front and LED at the rear, as well as new rims.
    And to explore new horizons, its electric motor boasts a range up to 248 miles </p> </span>
</div>
<div class="row">
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/2_e208.jpg" alt="Image">
  </div>
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/3_e208.jpg" alt="Image">
  </div>
</div>
<div class="rowa">
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/4_e208.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/5_e208.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/6_e208.jpg" alt="Image">
  </div>
</div>