<div class="first-slide">
  <img class="d-block w-100" src="../../../../assets/img/model-details/e208/1_e208.jpg" alt="Image">
  <div><a routerLink="/models">Back</a></div>
</div>

<div><a class="btn-products" routerLink="/products">See our stock</a></div>

<div class="container">
  <div class="text-1">
    <p>PEUGEOT 208</p>
  </div>
  <div>
    <span>
      <p class="text-2">Discover the iconic Peugeot 208. Stunning design, uncompromising quality and a dynamic drive.
        Available in petrol, diesel or the fully electric e-208. Test drive yours today.</p>
    </span>
  </div>
</div>

<div class="row">
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/2_e208.jpg" alt="Image">
  </div>
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/3_e208.jpg" alt="Image">
  </div>
</div>
<div class="rowa">
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/4_e208.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/5_e208.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/e208/6_e208.jpg" alt="Image">
  </div>
</div>