.text {
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    padding: 10px;

}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.columna {
    float: left;
    width: 33.33%;
    padding: 5px;
}