<div class="big-container">
  <div class="container color=black mt-0">
    <div class="card" style="width: 20rem;">
      <img src="../../../assets/img/models/1_c1_e_208.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">208</h5>
        <p class="card-text">A revolution in mobility, but also in terms of style. In 100% electric, petrol or diesel,
          the Peugeot 208 city car asserts its youth right down to the smallest detail. </p>
        <a routerLink="/models/208" class="btn btn-primary">More details</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../../../assets/img/models/2_PEUGEOT_2008.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2008</h5>
        <p class="card-text">With an exceptional design and equipped with the innovative PEUGEOT i-Cockpit® 3D
          and top-of-the-range technologies, the SUV offers experience quality on board.</p>
        <a routerLink="/models/2008" class="btn btn-primary">More details</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../../../assets/img/models/4_PEUGEOT_IMAGE_308_B0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">308</h5>
        <p class="card-text">Compact, feline, sensational. Discover the new Peugeot.
          With the Peugeot 308, give yourself the freedom to choose between a plug-in hybrid, petrol or diesel engine.</p>
          <a routerLink="/models/2008" class="btn btn-primary">More details</a>      
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../../../assets/img/models/5_PEUGEOT_IMAGE_308SWHY_B0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">308 SW</h5>
        <p class="card-text">Shake off stereotypes and enjoy every moment behind the wheel of the PEUGEOT 308 SW.
          Choose your estate in petrol, diesel or plug-in hybrid engines.</p>
          <a routerLink="/models" class="btn btn-warning">Out of stock</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../../../assets/img/models/6_PEUGEOT_IMAGE_3008HY_E0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3008</h5>
        <p class="card-text">With its unique revolutionary style, the PEUGEOT 3008 reinvents the SUV.
          With petrol, diesel or plug-in hybrid engines, it opens up a new era of modernity.</p>
          <a routerLink="/models" class="btn btn-warning">Out of stock</a>
      </div>
    </div>
  </div>
  <div class="container color=black">
    <div class="card" id="card1" style="width: 20rem;">
      <img src="../../../assets/img/models/7_PEUGEOT_IMAGE_408HY_B0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">408</h5>
        <p class="card-text">Inspiring new Fastback shape. Sleek. Latest generation PEUGEOT-i-Cockpit®.
          Give yourself the freedom to choose between petrol or plug-in hybrid.</p>
          <a routerLink="/models/e208" class="btn btn-primary">More details</a>
      </div>
    </div>
    <div class="card" id="card1" style="width: 20rem;">
      <img src="../../../assets/img/models/10_PEUGEOT_IMAGE_508HY_D0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">508</h5>
        <p class="card-text">Appreciate the radical and daring design offered by the PEUGEOT 508 sedan.
          Enjoy an intense driving experience as well as advanced technological innovations.</p>
          <a routerLink="/models" class="btn btn-warning">Out of stock</a>
      </div>
    </div>
    <div class="card" id="card1" style="width: 20rem;">
      <img src="../../../assets/img/models/8_PEUGEOT_IMAGE_508SWHY_D0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">508 SW</h5>
        <p class="card-text">Discover the PEUGEOT 508 SW - the top-of-the-range station wagon with an
          impressive design, which offers the comfort of a tourer, the generous space typical of a SW.</p>
          <a routerLink="/models" class="btn btn-warning">Out of stock</a>
      </div>
    </div>
    <div class="card" id="card1" style="width: 20rem;">
      <img src="../../../assets/img/models/9_NEW_PEUGEOT_508.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">New 508</h5>
        <p class="card-text">Welcome to the perfect example of a high-end saloon.
          With a new and innovative face and driving position, the new PEUGEOT 508 brings you unlimited experiences.</p>
          <a routerLink="/models" class="btn btn-warning">Out of stock</a>
      </div>
    </div>
    <div class="card" id="card1" style="width: 20rem;">
      <img src="../../../assets/img/models/11_PEUGEOT_IMAGE_5008_E0_810x455.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">5008</h5>
        <p class="card-text">Elegant, spacious and refined. Embark on a journey of quality. Alone or with up to 7
          passengers,
          enjoy the incomparable comfort of the PEUGEOT 5008 SUV.</p>
          <a routerLink="/models" class="btn btn-warning">Out of stock</a>
      </div>
    </div>
  </div>
</div>