body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .logo {
    width: 90%;
    height: 100%;
    display: block !important;
  
  }
  
  .carousel-item {
    transition: transform 0s ease-in-out;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  