
<div id="carouselExampleCaptions" class="carousel slide fade-in-left" data-mdb-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item carousel-image bg-img-1 active">
      <!-- <img src="assets/img/2880x1400_PEUGEOT_RANGE_STOCK.jpg" class="d-block w-100 img-fluid" alt="Responsive image"> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Peugeot 508</h5>
        <p>The new 508 bring modernity by fully integrating the grille motif into the volume of the bumper.</p>
      </div>
    </div>
    <div class="carousel-item carousel-image bg-img-2">
      <!-- <img src="assets/img/PEUGEOT_508PERFO_2009RC_020_1214x1020.jpg" class="d-block w-100 img-fluid" alt="Responsive image"> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Peugeot e-208</h5>
        <p>The 208 was the best-selling car in Europe in 2022 and is an iconic model in the PEUGEOT range.</p>
      </div>
    </div>
    <div class="carousel-item carousel-image bg-img-3">
      <!-- <img src="assets/img/Peugeot-e-208-2024-1280-01.jpg" class="d-block w-100 img-fluid" alt="Responsive image"> -->
      <div class="carousel-caption d-none d-md-block">
        <h5>Peugeot 308</h5>
        <p>The new Peugeot 308 combines an attractive new design and a premium interior with class-leading technology
          and safety in the compact family car segment.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>