@import '~bootstrap/dist/css/bootstrap.css';

.bg-img-1 {
  background-image: url('../src/assets/img/carousel/slide_1.jpg');
}

.bg-img-2 {
  background-image: url('../src/assets/img/carousel/slide_2.jpg');
}

.bg-img-3 {
  background-image: url('../src/assets/img/carousel/slide_3.jpg');
}


