<div class="container">
    <h3 class="title">Edit client</h3>
    <a type="button" id="btn-back" class="btn btn-info" routerLink="/clients">Back</a>

     <div *ngIf="updateClientForm.controls['firstName'].invalid && (updateClientForm.controls['firstName'].dirty || updateClientForm.controls['firstName'].touched)" class="alert alert-danger">

        <div *ngIf="updateClientForm.controls['firstName'].errors?.['required']">
            First name is required.
        </div>
    </div>

    <div *ngIf="updateClientForm.controls['lastName'].invalid && 
    (updateClientForm.controls['lastName'].dirty || updateClientForm.controls['lastName'].touched)"
        class="alert alert-warning">
        <div *ngIf="updateClientForm.controls['lastName'].errors?.['required']">
            Last name is required.
        </div>
    </div>

    <form [formGroup]="updateClientForm" action="" (ngSubmit)="updatedFormSubmit()"> 
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input formControlName="firstName" type="text" class="form-control" [(ngModel)]="client.firstName" required minlength="4">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" [(ngModel)]="client.lastName">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input formControlName="address" type="text" class="form-control" [(ngModel)]="client.address">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input formControlName="phone" type="text" class="form-control" [(ngModel)]="client.phone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" [(ngModel)]="client.email">
        </div>
        <br>
        <button class="btn btn-success" id="btn-update" type="submit">Update</button>
    </form>
</div>