<div class="first-slide">
  <img class="d-block w-100" src="../../../../assets/img/model-details/2008/1_2008.jpg" alt="Image">
  <div><a routerLink="/models">Back</a></div>
</div>

<div><a class="btn-products" routerLink="/products">See our stock</a></div>

<div class="container">
  <div class="text-1">
    <p>PEUGEOT 2008</p>
  </div>
  <div>
    <span>
      <p class="text-2">Explore the road's most nimble SUV - the 2008. Stunning design, uncompromising quality and a dynamic drive. 
        Available in petrol and now with a 100% electric motor in the nimble e-2008. Test drive yours today. </p>
    </span>
  </div>
</div>
<div class="row">
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/2008/2_2008.jpg" alt="Image">
  </div>
  <div class="column">
    <img class="d-block w-100" src="../../../../assets/img/model-details/2008/3_2008.jpg" alt="Image">
  </div>
</div>
<div class="rowa">
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/2008/4_2008.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/2008/5_2008.jpg" alt="Image">
  </div>
  <div class="columna">
    <img class="d-block w-100" src="../../../../assets/img/model-details/2008/6_2008.jpg" alt="Image">
  </div>
</div>