<div class="first-slide">
    <img class="d-block w-100" src="../../../../assets/img/background-history.jpg" alt="Image">
</div>

<div>
    <div class="app">
        <img src="../../../../assets/img/history/1810.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1810</h5>
            <p class="text1">BEGINNING OF THE PEUGEOT INDUSTRIAL ADVENTURE</p>
            <p class="text2">The family business was founded in 1810 by Jean-Frédéric and Jean-Pierre II Peugeot,
                during the transformation of the family hydraulic mill into a steel mill in a place
                called Sous-Cratet in the commune of Hérimoncourt (Doubs). Various branches of the family
                expanded into very diverse productions, but all were based on steel (tools, springs, umbrella ribs,
                corset frames, coffee mills, watch parts, bicycles, etc.).</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1889.jpg" style="width:900px;height:700px;">
        <div class="text-container">
            <h5 class="years">1889</h5>
            <p class="text1">STEAM-DRIVEN 3-WHEELER REVEALED</p>
            <p class="text2">Armand Peugeot showcased the first PEUGEOT-branded automotive vehicle
                at the World Fair in Paris: a steam-driven (non-commercialised) 3-wheeler
                designed with engineer Léon Serpollet.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1948.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1948</h5>
            <p class="text1">LAUNCH OF THE 203: THE FIRST UNIBODY CAR</p>
            <p class="text2">The 203 was the first car produced after the Second World War.
            It was also the first unibody model with a hemispherical cylinder
                head and V-shaped valves, as well as the first PEUGEOT to be manufactured at over half a million units.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1968.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1968</h5>
            <p class="text1">LAUNCH OF THE 404: RADICALLY INNOVATIVE STYLE AND EQUIPMENT</p>
            <p class="text2">Named European Car of the Year in 1969, the 504 was PEUGEOT's longest-running model
                (3,700,000 units rolled out until 2006). Intended for a middle-class clientele, it
                also ranked highly in Africa and South America thanks to its endurance.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1972.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1972</h5>
            <p class="text1">LAUNCH OF THE 104: THE WORLD'S SHORTEST SALOON</p>
            <p class="text2">The slogan "All of PEUGEOT in 3.58 m" drew attention to the fact that the 104 was the smallest four-door saloon
                in the world.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1979.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1979</h5>
            <p class="text1">LAUNCH OF THE 604: PEUGEOT'S FIRST 6-CYLINDER SALOON SINCE THE 601</p>
            <p class="text2">As a result of its style and stature, the 604 was adopted by the most senior government officials throughout
                Europe.
                The first commercial turbo diesel engine in Europe was also fitted in the 604.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1983.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1983</h5>
            <p class="text1">LAUNCH OF THE 205: THE "MAGIC NUMBER"</p>
            <p class="text2">A lifesaving success for PEUGEOT. It was a two-time world rally champion and won the Paris-Dakar twice.
                It went on to become the best-selling car in France and the most exported French car ever.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1987.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1987</h5>
            <p class="text1">LAUNCH OF THE 405</p>
            <p class="text2">For the second time in its history, PEUGEOT won European Car of the Year in 1988 with the 405, its new family
                car.</p>
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/1997.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">1997</h5>
            <p class="text1">LAUNCH OF THE 406 COUPÉ DESIGNED BY PININFARINA</p>
            <p class="text2">Its timeless design made it a collector's dream, and it was the first coupé built with a diesel engine (2001).</p>
            
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/2016.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">2016</h5>
            <p class="text1">LAUNCH OF THE 3008</p>
            <p class="text2">Praised for its style, interior design and features, the new PEUGEOT 3008 was voted Car of the Year 2017 by a
                jury of 58 European journalists.
                It was the first award-winning SUV since the creation of the award in 1964, and the fifth PEUGEOT to be
                named Car of the Year after the 308 in 2014, the 307 in 2002, the 405 in 1988 and the 504 in 1969.</p>         
        </div>
    </div>

    <div class="app">
        <img src="../../../../assets/img/history/2020.jpg" style="width:900px;height:700px;">
        <div class="text">
            <h5 class="years">2020</h5>
            <p class="text1">The new face of Peugeot</p>
            <p class="text2">The new PEUGEOT 208 was named Car of the Year 2020 by a panel of 60 expert automotive
                journalists from 23 European countries. The jury praised its range of engines, which offered
                customers the freedom to choose between electric, petrol and diesel. The panel also appreciated
                the bold design and the technology of the new PEUGEOT 208, the sixth PEUGEOT to be named Car of the Year.
                With six titles, PEUGEOT was one of the top three brands with the most Car of the Year awards.
                This prestigious prize joined the twelve other international awards the PEUGEOT 208 had already received.</p>        
        </div>
    </div>
</div>
