// html,
// body {
//   height: 100%;
// }

// body {
//   min-height: 100vh;
//   display: grid;
//   grid-template-rows: 1fr auto;
// }

footer {
  margin-top: auto;
}

.flex-wrapper {
  display: flex;
  // min-height: 100vh;
  flex-direction: column;
  // justify-content: flex-start;
  min-height: 100%;
}